<nav class="navbar navbar-dark bg-primary fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand text-warning text-decoration-line-through " href="{% url 'welcome' %}">Catacrib's</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end text-bg-primary" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title text-decoration-line-through text-warning" id="offcanvasDarkNavbarLabel">Dark offcanvas</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>

      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
        {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link active text-warning" aria-current="page" href="{% url 'user-profile' %}">Hello {{ user.username }}</a>
          </li>
          

         
          


          <li class="nav-item">
            <a class="nav-link text-warning" href="{% url 'user-logout' %}">logout</a>
          </li>
          {% else %}
           <li class="nav-item">
            <a class="nav-link text-warning" href="{% url 'user-login' %}">Login</a>
          </li>
         
           <li class="nav-item">
            <a class="nav-link text-warning" href="{% url 'user-register' %}">Register</a>
          </li>
          {% endif %}
        

           {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link text-warning" href="{% url 'index' %}">Dashboard</a>
          </li>
          {% endif %}

          {% comment %} <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown
            </a> {% endcomment %}
            {% comment %} <ul class="dropdown-menu dropdown-menu-dark">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
        </ul> {% endcomment %}
        {% comment %} <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-success" type="submit">Search</button>
        </form> {% endcomment %}
      </div>
    </div>
  </div>
</nav>